@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;900&display=swap");

*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --fade-white: #f3eded;
  --grey: #69707d;
  /* --Black (with 75% opacity for lightbox background);: hsl(0, 0%, 0%) */
}

/* Default styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--grayish-blue);
  font-weight: 400;
}
body {
  position: relative;
  font-family: "Kumbh Sans", serif;
}
body .default-page {
  position: relative;
  width: 100%;
  max-width: 1540px;
  /* max-width: 1440px; */
  height: 100vh;
  padding: 20px 100px;
  border-bottom: 50px;
  margin: 0 auto;

  /* padding: 0px 5%; */
}
/* nav styles */
nav {
  padding-bottom: 10px;
}

nav,
nav > .navs,
.hero-section,
.hero-section > .left > .other-items,
.overlay-other-items,
.last-div,
.price,
.last-div .left,
.last-div .right,
.preview {
  /* .display-body .other-items { */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .navs,
.cart-login,
.cart-login-icons {
  list-style-type: none;
  gap: 50px;
}
nav > .navs li a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  font-weight: 500;
  font-size: 18px;
}

.hero-section {
  width: 100%;
  margin-top: 80px;
  padding: 0 50px;
  /* gap: 100px; */
  /* border: 3px solid #000; */
}
.hero-section > .left,
.hero-section > .right,
.last-div {
  width: 570px;
}

.hero-section > .left > .selected-item img {
  width: 100%;
  border-radius: 10px;
}
.hero-section > .left > .other-items,
.display-body .overlay-other-items {
  width: 100%;
  gap: 10px;
  margin-top: 30px;
  /* border: 2px solid #000; */
}
.hero-section > .left > .other-items > div {
  width: 125px;
}
.hero-section > .left > .other-items > div img {
  width: 100%;
  border-radius: 8px;
}
.hero-section > .right h3 {
  color: var(--Orange);
  font-weight: 700;
}
.hero-section > .right h1 {
  color: var(--Black);
  font-size: 50px;
  margin-top: 20px;
  width: 450px;
}
.hero-section > .right > p {
  width: 450px;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Dark-grayish-blue);
}
.price div:first-child {
  color: var(--Black);
  font-weight: 700;
  font-size: 30px;
}
.price div:last-child {
  color: var(--Orange);
  background-color: var(--Pale-orange);
  font-weight: 700;
  font-size: 18px;
  padding: 0px 10px;
}
.last-div {
  justify-content: flex-start;
  margin-top: 25px;
  gap: 50px;
}

.last-div > .left {
  width: 100px;
  background-color: var(--fade-white);
  padding: 5px 15px;
  border-radius: 5px;
}

.price {
  width: 180px;
  margin-top: 30px;
}
.initial-price {
  width: 200px;
  margin-top: 20px;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  font-size: 18px;
  text-decoration: line-through;
}

.last-div > .right button {
  width: 200px;
  height: 40px;
  color: var(--White);
  background-color: var(--Orange);
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.last-div > .right button span {
  margin-top: 1px;
  font-size: 16px;
}
.last-div > .right button svg {
  color: var(--White);
}

.cart-login {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;

  /* margin-right: 50px; */
}
.cart-div img,
.cart-login img {
  width: 50px;
  border-radius: 7px;
}
.cart-login-icons,
.cart__list,
.display-body,
.container,
.container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__list,
.display-body {
  flex-direction: column;
  margin-top: 50px;
}

/* Cart div */
.cart-div {
  position: absolute;
  left: 1138px;
  width: 350px;
  height: auto;
  border: 2px solid var(--White);
  border-radius: 7px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 3px;
  background-color: var(--White);
  top: 40px;
  box-shadow: 0px 5px 0.4em var(--Dark-grayish-blue);
  border: 2px solid red;
}
.cart-div > p {
  color: var(--Black);
  font-weight: 700;
  padding-left: 10px;
  border-bottom: 1px solid var(--fade-white);
  padding-bottom: 10px;
}
.cart__list {
  margin-top: 10px;
}
.empty-cart-messsage > p {
  color: var(--Dark-grayish-blue);
  font-weight: 700px;
  font-size: 18px;
  text-align: center;
}
.cart__list li,
.cart-div button {
  width: 90%;
  margin: 0px auto;
}
.cart__list li {
  margin-top: 10px;
}
.cart-div button {
  color: var(--White);
  background-color: var(--Orange);
  height: 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin: 10px 0px 0px 10px;

  text-align: center;
  /* width: ; */
}
.preview__data {
  color: var(--Dark-grayish-blue);
  font-weight: 500px;
  font-size: 18px;
}
.preview__data p {
  font-size: 16px;
}
.preview__data .each-total {
  color: var(--Black);
  font-weight: 700px;
  font-size: 20px;
}
.hide {
  display: none;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 2;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

/* .overlay .body {
} */
.closemodal {
  margin-left: 455px;
}
/* .closemodal > svg { 
 width: 100%;
  height: auto;  
  border: 1px solid #000; 
 } */

/* DISPLAY CONTAINER */

.display-body {
  width: 520px;
  /* width: 50%; */
  position: absolute;
  z-index: 9;
  padding-top: 30px;
  padding-bottom: 30px;
  left: 0;
  right: 0;
  /* border: 2px solid red; */

  top: 20px;
  margin: 0 auto;
}

/* .overlay-other-items,
.container {
  width: 500px;
} */
/* .container {
  position: relative;
  /* border: 2px solid #000; 
} */

.container {
  position: relative;
  overflow: hidden;
}
.container .btn {
  position: absolute;
  z-index: 5;
  margin-left: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 1998px;
  background-color: var(--White);
}

.container .btn svg > path:hover {
  stroke: var(--Orange);
}
.container .previous {
  left: -10px;
}
.container .next {
  right: -1px;
}
/* .container .selected-item img {
  width: 100%;
} */
.display-body .overlay-other-items,
.container {
  width: 500px;
  /* border: 2px solid #000; */
}
.display-body .overlay-other-items > div {
  width: 110px;
}
.display-body .overlay-other-items > div img {
  width: 100%;
  border-radius: 7px;
}

.overlay-other-items div:hover,
.other-items div:hover {
  opacity: 0.5;
}

/* js styles */
.active-image {
  border: 3px solid var(--Orange);
  opacity: 0.5;
}

/* SLIDER */
.container > .sliders-container {
  position: relative;
  width: 95%;
  z-index: 2;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  /* border: 3px solid red; */
}
.sliders-container > .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
}
.sliders-container > .slide img {
  width: 100%;
}
